<div id="results" v-cloak>
    <div class="container-lg">
        <div class="row mb-3">
            <form class="d-flex">
                <input id="searchbox" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" v-model="searchTerm">
                <button id="searchSubmit" class="btn btn-light my-2 my-sm-0" type="button" v-on:click="search()">Search</button>
            </form>
        </div>
        <div v-if="loading">
            <div class="row d-flex justify-content-center">
                <img src="@Url.Content("~/images/loading.gif")" alt="loading"/>
            </div>
        </div>
        <div v-else-if="showResults.length > 0">
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col" id="show-card" v-for="show in showResults">
                    <div class="card h-100">
                        <img class="card-img-top" :src="show.image" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ show.title }}</h5>
                            <p class="card-text">{{ show.description }}</p>
                            <a :href="'@Url.Action("Show", "TVB")?id=' + show.id" class="btn btn-primary">Details...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-else>
            <div class="row d-flex justify-content-center">
                <img src="@Url.Content("~/images/noResults.webp")" alt="loading"/>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/results.js" asp-append-version="true"></script>
}

<script>
    var searchTerm = "@ViewBag.Search";
</script>