<div id="results" v-cloak>
    <div id="results-container" class="container-lg" style="min-height: 95vh;">
        <div class="row mb-3">
            <form class="d-flex">
                <input id="search-input" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" v-model="searchTerm">
                <button id="search-button" class="btn btn-light my-2 my-sm-0" type="button" v-on:click="search()">Search</button>
            </form>
        </div>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col" v-for="show in showResults">
                <div class="card h-100">
                    <img class="card-img-top" :src="show.image" alt="Card image cap">
                    <div id="results-show-card" class="card-body">
                        <a id="show-link" :href="'@Url.Action("Show", "TVB")?id=' + show.id" class="btn btn-primary">{{ show.title }}</a>
                        <p class="card-text">{{ show.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/results.js" asp-append-version="true"></script>
}

<script>
    var searchTerm = "@ViewBag.Search";
</script>