<div id="home" v-cloak>
    <div class="container-lg">

    </div>
</div>

@section Scripts
{
    <script src="~/js/home.js" asp-append-version="true"></script>
}

<script>
    var webAPIUrl = "@ViewBag.WebAPIUrl";
</script>