<div id="show" v-cloak>
    <div class="container-lg">
        
    </div>
</div>

@section Scripts
{
    <script src="~/js/show.js" asp-append-version="true"></script>
}

<script>
    var id = "@ViewBag.Id";
    var webAPIUrl = "@ViewBag.WebAPIUrl";
</script>