.navbar {
    background-color: #ff451c;
}

#show-card {
    float: left;
}

[v-cloak] {
    display: none;
}

#show-info-card {
    flex-direction: row;
    padding-right: 0;
    padding-left: 0;
    background-color: #410f2a !important;
    color: white !important;
    font-weight: 500;
    border: 0;
}

#accordionExample {
    padding-right: 0;
    padding-left: 0;
}

.accordion-item, .accordion-button {
    background-color: #410f2a !important;
    color: white !important;
    font-weight: 500;
}

#rankColors {
    float: right;
}

#rankColorsGreen {
    color: green;
}

#rankColorsRed {
    color: red;
}

@media (min-width: 700px) {
    #home, #results, #show {
        background-image: url("../images/homepage.webp");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position-y: -10em;
        background-color: #210011;
    }

    #home-info {
        padding-top: 19em;
        padding-bottom: 30em;
    }
}

@media (max-width: 700px) {
    #home, #results, #show {
        background-image: url("../images/homepage.webp");
        background-repeat: no-repeat;
        background-size: 70em;
        background-position-x: center;
        background-color: #210011;
    }

    #home-info {
        padding-top: 19em;
        padding-bottom: 23em;
    }

    #results-container, #home-container, #show-container {
        width: 80%
    }
}

.list-group-item {
    background-color: #410f2a !important;
    color: white !important;
    font-weight: 500;
}

#search-button {
    background-color: #410f2a !important;
    color: white !important;
    font-weight: 500;
    border: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

#search-input {
    background-color: #410f2a !important;
    color: white !important;
    font-weight: 500;
    border: 0;
}

#home-text {
    color: white !important;
    font-weight: 500;
    border: 0;
}

#results-show-card, #d3-card, #show-card {
    background-color: #410f2a !important;
    color: white !important;
    font-weight: 500;
    border: 0;
}

#episode-info-card {
    background-color: #5a1631 !important;
    color: white !important;
    font-weight: 500;
    border: 0;
}

#show-link {
    background-color: #410f2a !important;
    color: white !important;
    font-weight: 500;
    border: 0;
    padding: 0;
    font-size: 1em;
}

.accordion-button::after, .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion-button:focus {
    border-color: #ff451c;
}

.card {
    border: 0px !important;
}
