.navbar {
    background-color: #ff451c;
}

#search-term {
    width: 100%;
}

#show-card {
    float: left;
}

[v-cloak] {
    display: none;
}

#show-info-card {
    flex-direction: row;
    padding-right: 0;
    padding-left: 0;
    background-color: #410f2a !important;
    color: white !important;
    font-weight: 500;
    border: 0;
}

#show-info-card {
    flex-direction: row;
    padding-right: 0;
    padding-left: 0;
    background-color: #5c1532 !important;
    color: white !important;
    font-weight: 500;
    border: 0;
}

#show-info-card-img {
    width: 20%;
}

#show-info-card-img-episode {
    width: 20%;
}

#accordionExample {
    padding-right: 0;
    padding-left: 0;
}

.accordion-item, .accordion-button {
    background-color: #410f2a !important;
    color: white !important;
    font-weight: 500;
}

#rankColors {
    float: right;
}

#rankColorsGreen {
    color: green;
}

#rankColorsRed {
    color: red;
}

#searchSubmit {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

@media (min-width: 700px) {
    #home,#results,#show {
        background-image: url("../images/homepage.webp");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position-y: -10em;
        background-color: #210011;
    }

    #home-info {
        padding-top: 19em;
        padding-bottom: 22em;
    }
}
@media (max-width: 700px) {
    #home, #results, #show {
        background-image: url("../images/homepage.webp");
        background-repeat: no-repeat;
        background-size: 70em;
        background-position-x: center;
        background-color: #210011;
    }

    #home-info {
        padding-top: 19em;
        padding-bottom: 17em;
    }
}

.list-group-item {
    background-color: #410f2a !important;
    color: white !important;
    font-weight: 500;
}

#search-button {
    background-color: #410f2a !important;
    color: white !important;
    font-weight: 500;
    border: 0;
}

#search-input {
    background-color: #410f2a !important;
    color: white !important;
    font-weight: 500;
    border: 0;
}

#home-text {
    color: white !important;
    font-weight: 500;
    border: 0;
}

#results-show-card, #d3-card, #show-card {
    background-color: #410f2a !important;
    color: white !important;
    font-weight: 500;
    border: 0;
}

#show-link {
    background-color: #410f2a !important;
    color: white !important;
    font-weight: 500;
    border: 0;
    padding: 0;
    font-size: 1em;
}
